* {
  box-sizing: border-box;
}
body , html {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
header {
  height: auto;
  overflow: hidden;
}
span.logo-font{
  font-family: 'Pacifico', cursive;
}
#videobg {
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-cover: cover;
  z-index: -1;
}
#menu .menu-mobile {
  display: none;
}
#menu {
  margin: 0px;
  width: 100%;
  height: 50px;
  position: fixed;
  padding: 10px;
  color: #ffffff;
  text-shadow: #000 3px 3px 3px;
  font-family: Arial;
  background: rgba(7,20,8,0.4);
  z-index: 100000;
}
#menu .logo a {
  text-decoration: none;
  color: #fff;
}
#menu .logo h1{
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: 'Pacifico', cursive;
  transition: all 0.3s ease;
}
#menu .logo h1:hover{
  color: #D1A11D;
}

#menu nav {
  height: 100%;
}
#menu nav ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
#menu nav ul li {
  list-style: none;
  line-height: 30px
}
#menu nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-family: Arial;
  padding: 0 10px;
  transition: all 0.3s ease;
}
#menu nav ul li a:hover {
  color: #EBB521;
  font-size: 17px;
}
.container-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 1;
  height: 100vh;

}
.container-bg .row {
  margin: 0px;
  padding-top: 23vh;
}
.container-bg .row .item-info {
  height: 350px;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-shadow: #000 2px 2px 2px;
  line-height: 1.5em;
  transition: all 0.5s ease;
}
.container-bg .row .item-info:hover {
  background: rgba(164,181,33,0.3);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}
.container-bg .row .item-info h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 27px;
}
.container-bg .row .item-info span {
}
.container-bg .row .item-info p{
  font-size: 14px;
  text-align: justify;
}
.container-bg .row .item-info .icon-info {
  margin-top: 50px;
  text-align: center;
}
.container-bg .row .info-1 {
  padding: 20px;
  border-radius: 8px;
  border: 3px solid #A4B521;
  text-shadow: #000 2px 2px 2px;
}
.container-bg .row .info-2 {
  border: 3px solid #A4B521;
}
.container-bg .row #button-info2{
  margin-top: 10px;
  color: #fff;
  text-shadow: #000 1px 1px 1px;
  width: 50%;
  margin-left: 25%;
  background: rgba(139,153,28,0.3);
  height: 50px;
  border-radius: 4px;
  border: 2px solid #768218;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.4s ease;
}
.container-bg .row #button-info2:hover{
  background: #A2A520;
  text-shadow: #000 3px 3px 3px;
  box-shadow: 4px 3px 4px rgba(0,0,0,0.6);
}

.container-bg .row .info-3 {
  padding: 20px;
  border-radius: 8px;
  border: 3px solid #A4B521;
  text-shadow: #000 2px 2px 2px;
  position: relative;
}
.container-bg .row .buttons-container {
  height: 24vh;
  padding: 0px;
}
.container-bg .row .buttons-container #buttonEnter {
  color: rgba(0,0,0,0.6);
  margin-top: 3vh;
  width: 10em;
  height: 2em;
  background: rgba(227,175,42,.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.7);
  transition: all 0.5s ease;
}
.container-bg .row .buttons-container #buttonEnter:hover {
  background: #E3AF2A;
  text-shadow: 1px 3px #000;
  color: #fff;
  box-shadow: 4px 4px 3px rgba(0,0,0,0.7);
}
.container-bg .row .buttons-container #buttonSlide {
  color: #FFFF2A;
  padding: 0px;
  width: 100%;
  height: 50px;
  margin-top: 6vh;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: rgba(255,190,42,0.2);
}
.container-how-work {
  height: 100vh;
  position: relative;
  line-height: 2em;
}
.container-how-work .row.container-items-how-work {
  position: absolute;
  top: 7.5%;
  height: 93%;
  background: rgba(173,187,86,0.7);
  color: #fff;
  margin: 0px;
}
.container-how-work .row.container-items-how-work header {
  font-size: 1.5em;
}
.container-how-work .row.container-items-how-work header h1{
  margin: 0px;
  text-shadow: 2px 2px #000;
}
.container-how-work .row.container-items-how-work .item-how-work {
  border: 2px solid #fff;
  border-radius: 10px;
  height: 65%;
  color: #fff;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  display: block;
  padding: 20px;
  transition: all 0.3 ease;
}
.container-how-work .row.container-items-how-work .item-how-work .item-title-how-work {
  text-align: center;
}
.container-how-work .row.container-items-how-work .item-how-work .item-title-how-work h1 i {
  color: #000;
  font-size: 2em;
  transition: all 0.3s;
}
.container-how-work .row.container-items-how-work .item-how-work .item-content-how-work {
  text-align: justify;
}
.container-how-work .row.container-items-how-work div.item-how-work:hover {
  background: rgba(49,130,9,0.4);
  box-shadow: 5px 5px 3px rgba(0,0,0,0.4)
}
.container-how-work .row.container-items-how-work div.item-how-work:hover i {
  transform:rotate(360deg);
  color: #F6FB1E;
  font-size: 2.3em;
}
.container-courses {
  color: #fff;
  text-shadow: 2px 2px #000;
  height: 100vh;
  position: relative;
  line-height: 2em;
}
.container-courses .row.container-items-courses{
  margin: 0px;
  height: 92%;
  background: rgba(154,223,229,.5);
  padding: 20px;
  position: absolute;
  top: 3.1em;
}
.container-courses .row.container-items-courses header {
  height: 10%;
}
.container-courses .row.container-items-courses header h1{
  padding: 0px;
  margin: 0px;
  font-size: 3em;
  color: #BDB317;
}
.container-courses .row.container-items-courses .item-courses {
  padding: 1em;
  border-radius: 5px;
  margin-bottom: -2em;
}
.container-courses .row.container-items-courses .item-courses-week .course-week {
  border: 10px solid rgba(0,71,189,0.1);
  border-radius: 50%;
  background: rgba(0,71,189,0.2);
  transform:rotate(45deg);
  transition: all 0.4s ease;
}
.container-courses .row.container-items-courses .item-courses-week .course-week a {
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
  height: 250px;
  padding: 20px;
}
.container-courses .row.container-items-courses .item-courses-week .course-week a .course-week-content {
  width: 80%;
  margin-left: 10%;
}
.container-courses .row.container-items-courses .item-courses-week .course-week a .course-week-content p{
  text-align: justify;
  font-size: 14px;
  padding: 0px
}
.container-courses .row.container-items-courses .item-courses-week div.course-week:hover {
  border: 15px solid #0047BD;
  background: #000;
  transform:rotate(360deg);
}
.container-material-educa {
  color: #fff;
  text-shadow: 2px 2px #000;
  height: 100vh;
  position: relative;
}
.container-material-educa .row.container-items-educa {
  background: rgba(244,106,30,0.4);
  margin: 0px;
  position: absolute;
  top: 3.1em;
  height: 93%;
}
.container-material-educa .row.container-items-educa .content-items {
  height: 74%;
}
.container-material-educa .row.container-items-educa a{
  text-shadow: none;
  text-decoration: none;
  border: 2px solid #000;
  color: #000;
  border-radius: 5px;
  background: rgba(255,255,255,0.6);
}
.container-material-educa .row.container-items-educa a:hover {
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-left: 15px solid #CABE03;
}
.container-material-educa .row.container-items-educa a span i {
  font-size: 2.5em;
  transition: all 0.5s ease;
}
.container-material-educa .row.container-items-educa a:hover span i {
  font-size: 5em;
  color: #FFF004;
}
.container-material-educa .row.container-items-educa a .title-item-material-educa h2 {
  transition: all 0.5s ease;
}
.container-material-educa .row.container-items-educa a:hover .title-item-material-educa h2{
  font-size: 1em;
  color: #CABE03;
}
.container-material-educa .row.container-items-educa a .title-item-material-educa h3 {
  transition: all 0.5s ease;
}
.container-material-educa .row.container-items-educa a:hover .title-item-material-educa h3 {
  font-size: 1.6em;
}
.container-testvocacional {
  color: #fff;
  height: 100vh;
  text-shadow: 2px 2px #000;
  position: relative;
}
.container-testvocacional .row.container-items-testvocacional {
  height: 93%;
  position: absolute;
  top: 7%;
  background: rgba(28,224,232,0.6);
  background: rgba(0,0,0,0.0);
  margin: 0px;
}
.container-testvocacional .row.container-items-testvocacional h1 {
  color: #FFC241;
  font-size: 2em;
  margin: 0px;
  margin-top: 1em;
}
.container-testvocacional .row.container-items-testvocacional .title-item-testvocacional .content-title{
  text-align: justify;
  font-size: 17px;
}
.container-testvocacional .row.container-items-testvocacional .title-item-testvocacional .container-imgtest{
    padding: 16px;
    height: 14em;
    border-radius: 50%;
}
.container-testvocacional .row.container-items-testvocacional .title-item-testvocacional .container-imgtest img.imgtest{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container-testvocacional .row.container-items-testvocacional .containerbutton a {
  display: inline-block;
  text-shadow: none;
  padding: 1em;
  background: #FFC26B;
  font-size: 15px;
  text-decoration: none;
  border-radius: 4px;
  color: #000;
  transition: all 0.4s ease;
  border: #FFC26B;
}
.container-testvocacional .row.container-items-testvocacional .containerbutton a:hover {
  background: #FFC29B;
}
.container-testvocacional .row.container-items-testvocacional .item-testvocacional{
  font-size: 18px;
  background: rgba(0,0,0,0.5);
  color: #FFF7DE;
  text-shadow: none;
}
.container-clasesonline {
  color: #fff;
  text-shadow: 2px 2px #000;
  height: 100vh;
  position: relative;
}
.container-clasesonline .row.container-items-clasesonline {
  margin: 0px;
  height: 93vh;
  width: 100%;
  position: absolute;
  top: 7vh;
}
.container-clasesonline .container-items-clasesonline .title-item-clasesonline {
  height: 24%;
  font-size: 1.6em;
  line-height: 3em;
  background: rgba(23,36,19,.6);
  color: #17A46D;
  text-shadow: 1px 1px #22F2A1;
}
.container-clasesonline .container-items-clasesonline .title-item-clasesonline i {
  color: #ADFFFf;
  text-shadow: none;
}
.container-clasesonline .container-items-clasesonline .item-clasesonline {
  height: 76%;
  background: rgba(23,106,109,.7);
}
.container-clasesonline .container-items-clasesonline .item-clasesonline .item-concepto p{
  font-size: 1.2em;
}
.container-clasesonline .container-items-clasesonline .item-clasesonline .item-concepto h1{
  font-size: 2em;
  color: #22F2A1;
}
.container-clasesonline .container-items-clasesonline .item-clasesonline .item-concepto table{
  width: 50%;
  margin-left: 25%;
  border-collapse: collapse;
}
.container-clasesonline .container-items-clasesonline .item-clasesonline .item-concepto table thead td{
  background: #2E50E0;
  text-shadow: none;
}
.container-clasesonline .container-items-clasesonline .item-clasesonline .item-concepto table tbody tr td{
  border-bottom: 2px solid #1EA3E0;
}
.container-clasesonline .container-items-clasesonline .item-clasesonline .item-enter a {
  display: inline-block;
  text-shadow: none;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
  background: #009C4F;
  border-radius: 4px;
  transition: all 0.4s ease;
  border: none;
}
.container-clasesonline .container-items-clasesonline .item-clasesonline .item-enter a:hover {
  background: #00E072;
  color: #000;
  border-radius: 8px;
  border: none;
}
.container-contacto {
  color: #fff;
  text-shadow: 2px 2px #000;
  height: 100vh;
  position: relative;
}
.container-contacto .container-contacto-items {
  width: 100%;
  height: 93%;
  top: 7%;
  position: absolute;
}
.container-contacto .container-contacto-items header {
  line-height: 8.5em;
  height: 23.5%;
  background: rgba(149,137,255,0.7);
}
.container-contacto .container-contacto-items header h1 {
  margin: 0;
  font-size: 3.5em;

}
.container-contacto .container-contacto-items .container-form {
  height: 75%;
  background: rgba(28,255,221,0.2);
}
.container-contacto .container-contacto-items .container-form p {
  font-size: 1.3em;
  color: black;
  text-shadow: none;
}
.container-contacto .container-contacto-items .container-form .container-input-text input{
  width: 30%;
  font-size:1.4em;
  height: 30px;
  border: none;
  outline: 0px;
  margin-bottom: 1em;
  border-bottom: 2px solid #225C3F;
  transition: all 0.3s ease;
  background: rgba(190,137,255,0.1);
  color: #fff;
}
.container-contacto .container-contacto-items .container-form .container-input-text input::-webkit-input-placeholder{
  color: #fff;
}
.container-contacto .container-contacto-items .container-form .container-input-text input:focus {
  width: 40%;
}
.container-contacto .container-contacto-items .container-form .container-textarea textarea{
  color: #fff;
  margin-top: 1em;
  width: 60%;
  font-size: 1.3em;
  height: auto;
  outline: 0px;
  border: none;
  background: none;
  border-right: 2px solid #225C3F;
  border-left: 2px solid #225C3F;
  transition: all 0.3s ease;
}
.container-contacto .container-contacto-items .container-form .container-textarea textarea:focus{
  width: 90%;
}
.container-contacto .container-contacto-items .container-form .container-textarea textarea::-webkit-input-placeholder {
  color: #fff;
}
.container-contacto .container-contacto-items .container-form .container-buttonsumit input {
  font-size: 1.5em;
  padding: 0.4em 1em;
  border-radius: 6px;
  background: rgba(42,148,78,0.7);
  border: 2px solid rgba(42,148,78,0.7);
  color: #Fff;
  transition: all 0.3s ease;
}
.container-contacto .container-contacto-items .container-form .container-buttonsumit input:hover {
  background: #3ACC6B;
}
footer.row {
  margin: 0px;
  height: 15vh;
}
footer.row .container-footer {
  color: #fff;
  background: rgba(255,83,48, 0.1);
}

/*--------------------------------------------------------------------*/
/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  /*Menu*/
  /*Menu*/
  /*Menu*/
  /*Menu*/
  /*Menu*/
  #menu {
    height: auto;
    background: #FF8330;
  }
  #menu .logo {
    border-bottom: 2px solid #Fff;
  }
  #menu .menu-computer {
    display: none;
  }
  #menu .menu-mobile {
    display: block;
    z-index: 10000;
    width: 100%;
  }
  #menu .menu-mobile .fa-bars {
    font-size: 4em;
  }
  #menu .menu-mobile .menu-mobile-bar {
    display: none;
    background: rgba(63,7,247,0.8);
    width: 100%;
  }
  #menu .menu-mobile .menu-mobile-bar a {
    border-radius: 5px;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-shadow: none;
    padding: 0.3em 0;
  }

  /*container-Main*/
  /*container-Main*/
  /*container-Main*/
  /*container-Main*/
  /*container-Main*/
  .container-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 1;
    height: 837px;
  }
  .container-bg .row {
    margin: 0px;
    padding: 0px;
    padding-top: 144px;
  }
  .container-bg .row .item-info {
    height: 200px;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-shadow: #000 2px 2px 2px;
    transition: all 0.5s ease;
  }
  .container-bg .row .item-info h1 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container-bg .row .item-info p{
    font-size: 16px;
    text-align: justify;
  }
  .container-bg .row .item-info .icon-info {
    text-align: center;
  }
  .container-bg .row .info-1 {
    border-radius: 8px;
    border: 3px solid #A4B521;
    text-shadow: #000 2px 2px 2px;
  }
  .container-bg .row .info-2 {
    border: 3px solid #A4B521;
  }
  .container-bg .row #button-info2{
    margin: 0px;
    margin-top: -10px;
    color: #fff;
    text-shadow: #000 1px 1px 1px;
    width: 30%;
    margin-left: 40%;
    background: rgba(139,153,28,0.3);
    height: 35px;
    border-radius: 1px;
    border: 2px solid #768218;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .container-bg .row .info-3 {
    padding: 10px 5px;
    border-radius: 8px;
    border: 3px solid #A4B521;
    text-shadow: #000 2px 2px 2px;
    position: relative;
  }
  .container-bg .row .buttons-container {
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 0px;
  }

  /*How-work*/
  /*How-work*/
  /*How-work*/
  /*How-work*/
  /*How-work*/
  .container-how-work {
    height: 1000px;
    position: relative;
  }
  .container-how-work .row.container-items-how-work {
    position: absolute;
    top: 0px;
    background: rgba(14,255,142,0.7);
    color: #fff;
  }
  .container-how-work .row.container-items-how-work header {
    font-size: 1em;
    width: 100%;
    height: 57px;
    line-height: 57px;
  }
  .container-how-work .row.container-items-how-work header h1{
    width: 100%;
    text-align: center;
  }
  .container-how-work .row.container-items-how-work .item-how-work {
    border: 2px solid #fff;
    border-radius: 0px;
    height: 260px;
    color: #fff;
    text-shadow: 1px 1px #000;
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    transition: all 0.3 ease;
  }
  /*Courses*/
  /*Courses*/
  /*Courses*/
  /*Courses*/
  .container-courses {
    height: 1300px;
  }
  .container-courses .row.container-items-courses{
    height: 100%;
    background: rgba(154,223,229,.5);
    padding: 5px 5px;
    top: 0px;
  }
  .container-courses .row.container-items-courses header {
    width: 100%;
    height: 40px;
  }
  .container-courses .row.container-items-courses header h1{
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    color: #BDB317;
  }
  .container-courses .row.container-items-courses .item-courses {
    padding: 5px;
    margin-bottom: 0em;
  }
  .container-courses .row.container-items-courses .item-courses-week h3 {
    width: 100%;
    text-align: center;
  }
  .container-courses .row.container-items-courses .item-courses-week {
    padding: 5px;
    width: 60%;
    margin-left: 20%;
  }
  .container-courses .row.container-items-courses .item-courses-week .course-week {
    border: 5px solid rgba(204,197,19,0.1);
    transform: rotate(0deg);
    background: rgba(204,197,19,0.6);
  }
  /*material-Educa*/
  /*material-Educa*/
  /*material-Educa*/
  /*material-Educa*/
  /*material-Educa*/
  .container-material-educa {
    height: 1000px;
  }
  .container-material-educa .row.container-items-educa {
    background: rgba(244,106,30,0.4);
    height: 100%;
    top: 0px;
  }
  .container-material-educa .row.container-items-educa .content-items.row {
    height: 74%;
    margin: 0px;
  }
  .container-material-educa .row.container-items-educa a{
    text-shadow: none;
    text-decoration: none;
    border: 0px;
    border-bottom: 2px solid #fff;
    color: #000;
    border-radius: 0px;
    background: rgba(204,19,57,0.4);
  }
  .container-material-educa .row.container-items-educa .content-items.row a span {
    margin: 0;
    line-height: 182px;
  }
}

/*-----------------------------------------------------------------*/
@media only screen and (max-width: 470px) {
  /*menu*/
  /*menu*/
  /*menu*/
  /*menu*/
  /*menu*/
  #menu {
    height: auto;
    background: #1CFF9D;
  }
  /*container-Main*/
  /*container-Main*/
  /*container-Main*/
  /*container-Main*/
  /*container-Main*/
  .container-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 1;
    height: 1000px;
  }
  .container-bg .row {
    margin: 0px;
    padding: 0px;
    padding-top: 144px;
  }
  .container-bg .row .item-info {
    height: 240px;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-shadow: #000 2px 2px 2px;
    transition: all 0.5s ease;
  }
  .container-bg .row #button-info2{
    width: 40%;
    margin-left: 30%;
  }
  .container-bg .row .info-3 {
    padding: 10px 5px;
    border-radius: 8px;
    border: 3px solid #A4B521;
    text-shadow: #000 2px 2px 2px;
    position: relative;
  }
  .container-bg .row .buttons-container {
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 0px;
  }
  /*How-work*/
  /*How-work*/
  /*How-work*/
  /*How-work*/
  /*How-work*/
  .container-how-work .row.container-items-how-work {
    position: absolute;
    top: 0px;
    background: rgba(155,237,255,0.7);
    color: #fff;
  }
  .container-how-work .row.container-items-how-work .item-how-work {
    height: 300px;
  }
  .container-how-work .row.container-items-how-work {
    height: 100%;
  }

  /*Courses*/
  /*Courses*/
  /*Courses*/
  /*Courses*/
  /*Courses*/
  .container-courses .row.container-items-courses .item-courses-week .course-week {
    background: rgba(48,36,105,0.6);
  }
  .container-courses .row.container-items-courses .item-courses-week {
    padding: 5px;
    width: 100%;
    margin-left: 0%;
  }
  /*Material-Educa*/
  /*Material-Educa*/
  /*Material-Educa*/
  /*Material-Educa*/
  /*Material-Educa*/
  .container-material-educa .row.container-items-educa a{
    text-shadow: none;
    text-decoration: none;
    border: 0px;
    border-bottom: 2px solid #fff;
    color: #000;
    border-radius: 0px;
    background: rgba(105,91,107,0.4);
  }
}
