* {
  box-sizing: border-box;
}
body , html {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
header {
  height: auto;
  overflow: hidden;
}
span.logo-font{
  font-family: 'Pacifico', cursive;
}
#videobg {
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-cover: cover;
  z-index: -1;
}
#menu {
  margin: 0px;
  width: 100%;
  height: 50px;
  position: fixed;
  padding: 10px;
  color: #ffffff;
  text-shadow: #000 3px 3px 3px;
  font-family: Arial;
  background: rgba(7,20,8,0.4);
  z-index: 100000;
}
#menu .logo h1{
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: 'Pacifico', cursive;
  transition: all 0.3s ease;
}
#menu .logo h1:hover{
  color: #D1A11D;
}

#menu nav {
  height: 100%;
}
#menu nav ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
#menu nav ul li {
  list-style: none;
  line-height: 30px
}
#menu nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-family: Arial;
  padding: 0 10px;
  transition: all 0.3s ease;
}
#menu nav ul li a:hover {
  color: #EBB521;
  font-size: 17px;
}
.container-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 1;
  height: 100vh;

}
.container-bg .row {
  margin: 0px;
  padding-top: 23vh;
}
.container-bg .row .item-info {
  height: 350px;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-shadow: #000 2px 2px 2px;
  line-height: 1.5em;
  transition: all 0.5s ease;
}
.container-bg .row .item-info:hover {
  background: rgba(164,181,33,0.3);
}
.container-bg .row .item-info h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 27px;
}
.container-bg .row .item-info span {

}
.container-bg .row .item-info p{
  font-size: 14px;
  text-align: justify;
}
.container-bg .row .item-info .icon-info {
  margin-top: 50px;
  text-align: center;
}
.container-bg .row .info-1 {
  padding: 20px;
  border-radius: 8px;
  border: 3px solid #A4B521;
  text-shadow: #000 2px 2px 2px;
}
.container-bg .row .info-2 {
  border: 3px solid #A4B521;
}
.container-bg .row #button-info2{
  margin-top: 10px;
  color: #fff;
  text-shadow: #000 1px 1px 1px;
  width: 50%;
  margin-left: 25%;
  background: rgba(139,153,28,0.3);
  height: 50px;
  border-radius: 4px;
  border: 2px solid #768218;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.4s ease;
}
.container-bg .row #button-info2:hover{
  background: #A2A520;
  text-shadow: #000 3px 3px 3px;
  box-shadow: 4px 3px 4px rgba(0,0,0,0.6);
}

.container-bg .row .info-3 {
  padding: 20px;
  border-radius: 8px;
  border: 3px solid #A4B521;
  text-shadow: #000 2px 2px 2px;
  position: relative;
}
.container-bg .row #buttonContainer {
  height: 60px;
}
.container-how-work {
  height: 100vh;
  position: relative;
  line-height: 2em;
}
.container-how-work .row.container-items-how-work {
  position: absolute;
  top: 7.5%;
  height: 90%;
  background: rgba(173,187,86,0.7);
  color: #fff;
  margin: 0px;
}
.container-how-work .row.container-items-how-work header {
  font-size: 1.5em;
}
.container-how-work .row.container-items-how-work header h1{
  margin: 0px;
  text-shadow: 2px 2px #000;
}
.container-how-work .row.container-items-how-work .item-how-work {
  border: 2px solid #fff;
  border-radius: 10px;
  height: 65%;
  color: #fff;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  display: block;
  padding: 20px;
  transition: all 0.3 ease;
}
.container-how-work .row.container-items-how-work .item-how-work .item-title-how-work {
  text-align: center;
}
.container-how-work .row.container-items-how-work .item-how-work .item-title-how-work h1 i {
  color: #000;
  font-size: 2em;
  transition: all 0.3s;
}
.container-how-work .row.container-items-how-work .item-how-work .item-content-how-work {
  text-align: justify;
}
.container-how-work .row.container-items-how-work div.item-how-work:hover {
  background: rgba(49,130,9,0.4);
  box-shadow: 5px 5px 3px rgba(0,0,0,0.4)
}
.container-how-work .row.container-items-how-work div.item-how-work:hover i {
  transform:rotate(360deg);
  color: #F6FB1E;
  font-size: 2.3em;
}
.container-courses {
  color: #fff;
  text-shadow: 2px 2px #000;
  height: 100vh;
  position: relative;
  line-height: 2em;
}
.container-courses .row.container-items-courses{
  margin: 0px;
  height: 92%;
  background: rgba(154,223,229,.5);
  padding: 20px;
  position: absolute;
  top: 3.1em;
}
.container-courses .row.container-items-courses header {
  height: 10%;
}
.container-courses .row.container-items-courses header h1{
  padding: 0px;
  margin: 0px;
  font-size: 3em;
  color: #BDB317;
}
.container-courses .row.container-items-courses .item-courses {
  padding: 1em;
  border-radius: 5px;
  margin-bottom: -2em;
}
.container-courses .row.container-items-courses .item-courses-week .course-week {
  border: 10px solid rgba(0,71,189,0.1);
  border-radius: 50%;
  background: rgba(0,71,189,0.2);
  transform:rotate(45deg);
  transition: all 0.4s ease;
}
.container-courses .row.container-items-courses .item-courses-week .course-week a {
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
  height: 250px;
  padding: 20px;
}
.container-courses .row.container-items-courses .item-courses-week .course-week a .course-week-content {
  width: 80%;
  margin-left: 10%;
}
.container-courses .row.container-items-courses .item-courses-week .course-week a .course-week-content p{
  text-align: justify;
  font-size: 14px;
  padding: 0px
}
.container-courses .row.container-items-courses .item-courses-week div.course-week:hover {
  border: 4px solid #0047BD;
  background: rgba(0,71,189,0.5);
  transform:rotate(360deg);
}
